@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

.App {
  text-align: center;
}

.App-header {
  font-family: 'Oxygen', sans-serif;
  background: linear-gradient(#ddb892, #9c6644, #7f5539, #6f1d1b) ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #7f5539;
}

.cabecalho{
  background-color: #6f1d1b;
  margin-bottom: 7px;
  width: 100%;
  height: 105px;
}

.titulo{
  font-family: 'Comforter Brush', cursive;
  margin: auto;
  padding: 7px;
  font-weight: 100;
  font-size: 65px;
  color: #ddb892;
}

.title{
  font-size: 30px;
}

.title,
.name {
  color: #ffffff;
  margin: 10px;
}

.name{
  font-size: 19px;
}

.link{
  text-decoration: none;
  /* background-color: #ddb892; */
  border-radius: 10px;
  padding: 5px;
  color: #6f1d1b;
  transition: 0.7s all;
  font-weight: 600;
}

.link:hover{
  color: #e6ccb2;
  background-color: #b08968;
}

.image {
  width: 40%;
  margin: 20px;
  border: 3px solid #6f1d1b;
  border-radius: 14px;
}

.img-footer{
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 5px;
  text-decoration: none;
}

.img{
  width: 5%;
}

.img-footer:hover{
  font-size: 30px;
}